@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  /** Base colors */
  --clr-dark-a0: #000000;
  --clr-light-a0: #ffffff;

  /** Theme primary colors */
  --clr-primary-a0: #277ee3;
  --clr-primary-a10: #508be7;
  --clr-primary-a20: #6c99ea;
  --clr-primary-a30: #84a7ed;
  --clr-primary-a40: #9bb5f1;
  --clr-primary-a50: #b0c3f4;

  /** Theme surface colors */
  --clr-surface-a0: #121212;
  --clr-surface-a10: #282828;
  --clr-surface-a20: #3f3f3f;
  --clr-surface-a30: #575757;
  --clr-surface-a40: #717171;
  --clr-surface-a50: #8b8b8b;

  /** Theme tonal surface colors */
  --clr-surface-tonal-a0: #191c24;
  --clr-surface-tonal-a10: #2e3139;
  --clr-surface-tonal-a20: #45474e;
  --clr-surface-tonal-a30: #5d5f65;
  --clr-surface-tonal-a40: #75777d;
  --clr-surface-tonal-a50: #8f9196;

  /** Success colors */
  --clr-success-a0: #22946e;
  --clr-success-a10: #47d5a6;
  --clr-success-a20: #9ae8ce;

  /** Warning colors */
  --clr-warning-a0: #a87a2a;
  --clr-warning-a10: #d7ac61;
  --clr-warning-a20: #ecd7b2;

  /** Danger colors */
  --clr-danger-a0: #9c2121;
  --clr-danger-a10: #d94a4a;
  --clr-danger-a20: #eb9e9e;

  /** Info colors */
  --clr-info-a0: #21498a;
  --clr-info-a10: #4077d1;
  --clr-info-a20: #92b2e5;

  /* Global mappings (Enforcing Dark Mode) */
  --background: var(--clr-surface-a0);
  --foreground: var(--clr-light-a0);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}